include ../head.pug
body
    .container
     h1 List of events
     table.table.table-responsive.table-hover.table-striped-columns
        thead
        tr
            th(scope="col") ID
            th(scope="col") Event Name
            th(scope="col") Event DateTime
            th(scope="col") Venue
            th(scope="col") Actions
        tbody
        tr
            td 1
            td WIUT Careers
            td 2024-03-12 11:00
            td Venue
            td
              button.btn.btn-outline-primary Edit
              button.btn.btn-outline-danger Delete
        tr
            td 2
            td Movie Night
            td 2024-03-08 15:00
            td Cinematic
            td
              button.btn.btn-outline-primary Edit
              button.btn.btn-outline-danger Delete